<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">Create New Local Store</h1>
    <div class="col-6 offset-3">
        <form action="/localshops" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="shopName">ShopName</label>
                <input class="form-control" type="text" id="shopName" name="localshop[shopName]" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="localshop[location]" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price">R</span>
                    <input type="text" class="form-control" placeholder="0.00"
                     aria-label="price" aria-describedby="price" name="localshop[price]" required>
                     <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>    
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description"
                 name="localshop[description]" required></textarea>
                 <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Local shop</button>
            </div>
        </form>
    </div>
</div>
    
    <a href="/localshops">Back to localshops</a>
